* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}  
body {
  background-color:blanchedalmond;
  color:#fff8dc;
  padding: 75px 45px 50px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.title {
  color:	#f0e68c;
  font-size: 1.5rem;
  text-align: center;
}
.temperature-converter {
  background:darkgrey;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px 35px;
  min-width: 420px;
  border-top-right-radius: 45%;
  height: auto;
}
.result {
  text-align:center;
  position:relative;
  margin: 20px 15px;
  align-items: last baseline;
  color:	#f0fff0;
}
.result-heading {
  color:gold;
  font-size: 1.5rem;
  font-weight: 700;
}
.celsius-value {
  border-bottom: 2px solid #dcdcdc;
  padding: 10px;
}
label {
  color:#f5fffa;
  font-size: 1.34rem;
  margin-bottom: 5px;
}
input, select {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  padding: 8px;
  margin-bottom: 15px;
}
input:focus {
  border: 1.4px solid  #ffffe0;
}
.degree-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.degree-field {
  display: flex;
  flex-direction: column;
  width: 46%;
}
option {
  background-color:cornsilk;
  color:cadetblue;
  font-size: medium;
}
#convert-btn {
  padding: 1rem 2.5rem;
  border-radius: 4rem;
  font-size: 1.5rem;
  border: transparent;
  background: linear-gradient(
    120deg,
    #559fdc 20.69%,
    #6bffb8 50.19%,
    #ffad72 79.69%
  );
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 30px #ccc;
  cursor: pointer;
}
#convert-btn:hover {
  background: linear-gradient(
    120deg,
    #fe7ba7 20.69%,
    #faff77 50.19%,
    #68cfff 79.69%
  );
}